header {
  width: 100%;
  position: absolute;
  z-index: 50;
}
header img {
  width: 100%;
}

a,
span {
  color: #ffffff;
}
.mui-content {
  position: relative;
}
/*分类*/
#category {
  background-color: #fdfaff;
  padding-top: 230px;
}
#category div.category {
  border-radius: 15px;
  padding: 20px 15px;
  position: relative; 
  cursor: pointer;
}

#category .mui-scroll {
  padding: 10px 35px;
}

#category ul {
  overflow: hidden;
  height: 50px;
}

#category ul li.infor {
  height: 100%;
}

#category ul,
#category div.category > ul > li {
  width: 100%;
}

#category div.category {
  margin-bottom: 10px;
}

.knowledge {
  background-color: #ffb724;
}
.profession {
  background-color: #64a6da;
}
.competition  {
  background-color: #e73b37;
}
.industry {
  background-color: #9d5ac7;
}

#category li.infor {
  margin-bottom: 2px;
}

#category li.infor li {
  display: inline-block;
  height: 100%;
  /* float: left; */
}

#category li.infor li.icon {
  width: 14%;
}
#category li.infor li.icon a {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}
/* #category li.infor li.icon img {
} */

#category li.infor li.category a {
  display: block;
  font-size: 85%;
  font-weight: 500;
}
#category li.infor li.category a:nth-child(1) {
  margin-top: 5px;
}
#category li.infor li.category a:nth-child(2) {
  font-size: 65%;
  margin-top: -3px;
}

#category div.industry li.category a {
  margin: 0!important;
  line-height: 50px;
}

#category li.infor li.score {
  float: right;
  font-size: 160%;
  line-height: 100%;
}
#category li.infor li.score a {
  display: block;
  height: 100%;
  line-height: 45px;
  font-weight: bolder;
}

#category div.knowledge li.icon img {
  height: 65%;
  
}

#category div.profession li.icon img {
  height: 55%;
  margin-left: 5px
}

#category div.competition li.icon img {
  height: 55%;
}

#category div.industry li.icon img {
  height: 70%;
}

#category div.lable {
  position: absolute;
  bottom: 3px;
  right: 20px;
}

#category div.category:nth-child(4) li.category a {
  line-height: 40px;
}

#category div.lable a {
  display: block;
  float: left;
  color: #999999;
  height: 15px;
  line-height: 15px;
  background-color: #f1f1f1;
  font-size: 15px;
  margin-left: 2px;
  padding: 0px 7px;
  border-radius: 12px;
  border: 1px solid #b4b4b4;
}

.mui-scroll-wrapper {
  overflow: visible;
}