header {
	height: 50px;
	line-height: 50px;
	text-align: center;
}

header a {
	color: #FFFFFF;
	font-size: 21px;
}

.mui-table-view:before,
.mui-table-view:after,
.mui-table-view-cell:after {
	height: 0;
}

.mui-table-view {
	border-bottom: 4px solid #efefef;
	padding: 10px 0;
}
.mui-table-view:last-child {
	border: none;
}
.mui-table-view-cell {
	padding: 13px 25px 13px 50px;
}

.mui-table-view-cell>a:not(.mui-btn) {
	margin: -13px -25px -13px -50px;
	position: relative;
}
.mui-navigate-right:after, .mui-push-right:after {
	right: 20px;
}

.mui-content {
	height: 100%;
	background-color: #efefef;
	background-image: url(../../images/user/bg.png);
	background-repeat: no-repeat;
	background-size: 100% 42%;
	position: relative;
}

.userInfo {
	width: 100%;
	padding: 0 40px;
	position: absolute;
	top: 22%;
}
.userInfo>div {
	width: 100%;
	height: 100%;
	box-shadow:0px 0px 15px #7D7D7D;
}

.userInfo .mui-table-view span.right {
	float: right;
}
.userInfo .mui-table-view span.right.industry {
	margin-right: 10px;
	max-width: 5em;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.userInfo i.iconfont {
	position: absolute;
	font-size: 20px;
	color: #0097a8;
	left: 7%;
	top: 11px;
}

.userInfo i.icon-wo {
	font-size: 24px;
	margin-left: -2px;
}
.userInfo i.icon-htmal5icon27 {
	font-size: 30px;
	margin-left: -5px;
}


.mui-btn {
	background: none!important;
	border: none;
	color: #999999;
	font-size: 16px!important;
}
.mui-btn-blue {
	color: #0097a8;
}
